@import "../../styles/variables.scss";

.w_pagination {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 16px 41px;
  align-items: center;
  position: absolute;
  bottom: -60px;
  left: 4%;
  @media (max-width: 650px) {
    left: 3%;
  width: 95%;

}
  button {
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
  }
  > button {
    color: $mainColor;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    @media (max-width: 650px) {
        font-size: 18px;
    }
  }
  > div {
    display: flex;
    gap: 20px;
    align-items: center;
    @media (max-width: 650px) {
        gap: 10px;
    }
    button {
      color: $mainColor;
      font-size: 18px;
      font-style: italic;
      font-weight: 700;
      line-height: 137.687%;
      @media (max-width: 1024px) {
        font-size: 14px;
      }
      @media (max-width: 650px) {
        font-size: 12px;
      }
    }
  }
}
.activePageButton {
  color: #7ebc3c !important;
}
