@import "../../styles/variables.scss";

.w__tableBlock {
  margin-top: 15px;
  .table_header__item {
    display: grid;
    grid-template-columns: 120px 2fr 1.7fr;
    height: 52px;
    background-color: $mainColor;
    > div {
        padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
      button {
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        &:not(:last-child) {
          gap: 34px;
        }
        &:last-child {
          gap: 24px;
        }
        .button__title {
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          line-height: 137.687%;
        }
      }
    }
  }
}
